<div class="perfil"> 
    <A routerLink=""> <img class="logo" src="assets/img/Logo.png" alt="logo do site GameMania">
    </A>
    <app-login></app-login>
 
    <div class="barra">
         <input type="text" CLASS="search" placeholder="|  Pesquise por aqui...">
          <img class="lupa" src="assets/img/lupa.png">
        </div>
        <div class="cliente">  
        <a routerLink="/compras"> <img class="carro" src="assets/img/carro.png"> </a>
        </div>
        <app-hamburguer></app-hamburguer>
         <div class="container-grid cabecalho"> 
      <nav id="menu" class="menu">
        <a href="">NOVIDADES...</a>
        <a href="">OFERTAS...</a>
        <a href="">CATEGORIAS...</a>
        <a href="">CONTATOS...</a>
    </nav>
        

