<body>
<div class="conteudo">
    <p>O MELHOR DA TECNOLOGIA<br>VOCÊ ENCONTRA AQUI!!!</p></div>
    <app-banner></app-banner>
<div class="catalogo">
<div class="destaque">
    <h1>Agregador de ofertas . . .</h1>
    <nav class="card">
        <div class="card-1">
            <img class="pc" src="assets/img/pc1.png">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 3.415,50</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 3.795,00</p>
                <p class="card-text2">no cartão em até 12x de R$ 316,25 sem juros</p>
              </div>
        </div>
        <div class="card-1">
            <img class="pc" src="assets/img/pc1.png">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 3.415,50</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 3.795,00</p>
                <p class="card-text2">no cartão em até 12x de R$ 316,25 sem juros</p>
              </div>
        </div>
        <div class="card-1">
            <img class="pc" src="assets/img/pc1.png">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 3.415,50</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 3.795,00</p>
                <p class="card-text2">no cartão em até 12x de R$ 316,25 sem juros</p>
              </div>
        </div>
        <div class="card-1">
            <img class="pc" src="assets/img/pc1.png">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 3.415,50</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 3.795,00</p>
                <p class="card-text2">no cartão em até 12x de R$ 316,25 sem juros</p>
              </div>
        </div>
    </nav>
</div>
<div class="destaque">
    <h1>Recém Chegados . . .</h1>
    <nav class="card">
        <div class="card-1">
            <img class="pc" src="assets/img/cel.jpg">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 12.014,11</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 12.270,04</p>
                <p class="card-text2">no cartão em até 12x de R$ 1.124,92 sem juros</p>
              </div>
        </div>
        <div class="card-1">
            <img class="pc" src="assets/img/cel.jpg">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 12.014,11</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 12.270,04</p>
                <p class="card-text2">no cartão em até 12x de R$ 1.124,92 sem juros</p>
              </div>
        </div>
        <div class="card-1">
            <img class="pc" src="assets/img/cel.jpg">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 12.014,11</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 12.270,04</p>
                <p class="card-text2">no cartão em até 12x de R$ 1.124,92 sem juros</p>
              </div>
        </div>
        <div class="card-1">
            <img class="pc" src="assets/img/cel.jpg">
            <h5 class="card-title">Pc Gamer nível 20 Completo AMD 3000G / 8GB DDR4 / Placa de Vídeo GT 1030 4GB / SSD 240GB</h5>
            <div class="valor">
                <p class="card-text1">R$ 12.014,11</p>
                <p class="card-text2">No Pix<br>OU</p>
                <p class="card-text1">R$ 12.270,04</p>
                <p class="card-text2">no cartão em até 12x de R$ 1.124,92 sem juros</p>
              </div>
        </div>
    </nav>
</div>

