  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn" id="dropdownForm1" ngbDropdownToggle>
          <img class="icon" src="/assets/img/icon.png">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <form #userForm="ngForm" (ngSubmit)="OnSubmit()" > 
            <h1>Entrar</h1>
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="loginModel.email" placeholder="usuario@email.com">
        
            <label for="senha">Senha:</label>
            <input type="password" id="senha" [(ngModel)]="loginModel.senha" placeholder="sua senha">
        
            <button type="submit" class="enviar">Entrar</button>
          </form>
          <p id="mensagem" *ngIf="mensagem != ''">{{ mensagem }}</p>
          <div class="dropdown-divider"></div>
          <a routerLink="/loginpage"><button type="button" ngbDropdownItem>Criar Conta</button></a>
          <button type="button" ngbDropdownItem>Esqueci minha senha</button>
        </div>
      </div>
    </div>
  </div>