
<div class="rodape">
    <div class="info">
    <p>CPNJ 05.548.568/0001-65 - 
      Todos direitos reservados
      R. Guaipá, 1450 A -
       Vila Leopoldina, São Paulo - 
      SP, 05089-000</p>
    </div>
    <div class="segurança">
      <img class="seg" src="/assets/img/segurança.png" >
    </div>
    <div class="pagamento">
      <img class="pag" src="/assets/img/pagamento.png" >
    </div>
    <div class="certificados">
      <img class="cer" src="/assets/img/certificados.png">
    </div>
    <div class="social">
      <img class="soc" src="/assets/img/social.png" >
      <div class="socialinfo">
      <p>CENTRAL DE ATENDIMENTO<br>
        gamemania@gmail.com<br>
        Segunda a Sexta das 9h às 16h <br> 
        Sábado das 10h às 14h
        </p>
    </div>
    </div>
    </div>
