<div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn" id="dropdownForm1" ngbDropdownToggle>
          <img class="menu" src="/assets/img/menu.png">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <form #userForm="ngForm" > 
            <nav id="menu" class="menu">
                <a href="">NOVIDADES...</a><br>
                <a href="">OFERTAS...</a><br>
                <a href="">CATEGORIAS...</a><br>
                <a href="">CONTATOS...</a>
            </nav>
          </form>
        </div>
      </div>
    </div>
  </div>
