<div class="ban"><h1>OS MAIS BUSCADOS E BEM AVALIADOS!!!</h1>
<section class="banner">
    <owl-carousel-o [options]="bannerSlides">
        <ng-template carouselSlide >
            <img src="/assets/img/Miles.jpg" alt="banner">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="/assets/img/cyberpunk.jpg" alt="banner">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="/assets/img/Hogwarts.jpg" alt="banner">
        </ng-template> 
        <ng-template carouselSlide>
            <img src="/assets/img/call.jpg" alt="banner">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/assets/img/re4.jpg" alt="banner">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/assets/img/gow.jpg" alt="banner">
        </ng-template>
        <ng-template carouselSlide>
            <img src="/assets/img/need.jpg" alt="banner">
        </ng-template> 
      </owl-carousel-o>
</section>
</div>
