H1{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    -webkit-text-stroke: 1px #00C2FF;
    font-family: 'Asap', sans-serif;
    font-size: 62px;
    text-shadow: 2px 2px 2px rgb(255, 0, 242);
    font-weight: 600;
    margin:0px;
    padding:20px;
background:none;}
.banner{
    position: relative;
    width: 100%;
    padding: 10px;
    background: none;
    border-radius: 12px;
    }
    .ban{
        margin: 25px 0px;
        border-style:outset;
        margin-inline: 60px;
        padding:10px 0px;
        border-color: #00c3ff00;
        border-radius: 8px;
        background-image: linear-gradient(25deg,#1e1c2100);
        background: none;
    }
    .bane{
        background: none;
    }
img{
    display: flex;
    justify-content: center;
    background: none;
}
owl-carousel-o{
    background: none;
}
.banner .owl-next, .banner .owl-prev{
    background: none;
    width: 30px;
}