<body>
<a roterLink="" class="container-grid"><img class="logo" src="/assets/img/Logo.png" width="185"></a>
<div class="container-grid">
    <form id="register-form">
<div class="criarconta">
    <h1>Crie sua conta.</h1>
    <p>*Preencha todos os campos</p>
    <div class="half-box">
        <label for="nome">Nome</label>
    <input type="text" class="nome" placeholder="Seu Nome">
    </div>
    <div class="half-box">
        <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="userModel.email" placeholder="Seu melhor email" data-min-length="5">
    </div>
    <div class="half-box">
        <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" [(ngModel)]="userModel.senha"  placeholder="Digite sua Senha">
    </div>
    <div class="half-box">
        <label for="idade">Data de Nascimento</label>
    <input type="date" id="idade" [(ngModel)]="userModel.idade" placeholder="Sua Idade">
    </div>
    <input type="submit" class="enviar" id="btn">
<p class="error-validation template"></p></div>
    </form>
    <p id="mensagem" *ngIf="mensagem != ''">{{ mensagem }}</p>
</div>
</body>
